Thumbs.db
.DS_Store
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.vscode
.gradle
build/
out/
gradle-*.zip
target/
*.war
*.jar
!grails-wrapper.jar
*.log
logs/
application-local.yml
application-local.groovy